/.p2/
/.ssh/
/.android/
/.IntelliJIdea2017.2/
/.eclipse/
/.webclipse/
/.m2/
/.gfclient/
/.ideaLibSources/
/node_modules/
/.gem/
/HBuilder/
/.oracle_jre_usage/
/.IdeaIC2017.1/
/HBuilder settings/
/.VirtualBox/
/.data/
/AppData/
/.gradle/
/.jssc/
/.PyCharm2016.2/
/.tooling/
/3D Objects/
/Contacts/
/Desktop/
/Documents/
/Downloads/
/fancy/
/Favorites/
/IntelGraphicsProfiles/
/Links/
/scoop/
/Searches/
/vmlogs/

*.kdbx
.bash_history
*.properties
*.ini
*.blf
*.regtrans-ms
*.LOG1
*.DAT
*.LOG2
*.swp
